.assignment-summary {
  width: 100%;
  margin: 2em 0 5em 0;
  table-layout: fixed;
  line-height: 1.5;
}

.assignment-summary th {
  border-bottom: 2px solid #000;
  line-height: 1.5;
}

.assignment-summary td {
  border-bottom: 1px dotted #cacaca;
  line-height: 2;
}

.ass-sum-module {

}

.ass-title {

}

.ass-due {
  line-height: 1.5;
  text-align: center;
}

.ass-sub {
  line-height: 1.5;
  text-align: center;
}

.ass-grade {
  line-height: 1.5;
  text-align: center;
}

.ass-weight {
  line-height: 1.5;
  text-align: center;
}

.assignment-front-sheet {
  width: 100%;
  text-align: left;
  table-layout: fixed;
}

th.ass-front-title {
  height: 2em;
  text-align: center;
  background: #efefef;
  font-size: 1.5em;
}

.ass-fs-date {
  font-weight: bold;
}

.assignment-front-sheet td {
  padding: 10px;
  border: 1px dotted #cacaca;
}

td.ass-student-start {
  border-top: 3px solid #000;
}

.ass-lect-fs {
  height: 3em;
}

td.ass-lect-start {
  border-top: 3px solid #000;
}

td.ass-feedback-start {
  border-top: 3px solid #000;
  text-align: center;
  font-weight: bold;
}

.ass-feedback-title {
  border-top: 1px solid #000;
}

.ass-feedback {
  border-bottom: 1px solid #000;
  height: 10em;
}

.ass-marking {
  height: 3em;
}

.ass-marking-title {
  border-bottom: 1px solid #000;
}

.assignment-details {
  margin: 3em 0;
  padding-bottom: 2em;
  border-bottom: 1px solid #cacaca;
}

.ass-dates {
  line-height: 1.5;
}

.ass-details-title {
  color: #0C93F1;
  text-decoration: none;
  line-height: 2;
}

.ass-critrea {
  margin: 1em 0;
}

.ass-description {
  text-indent: 1em;
  line-height: 1.5em;
  margin-bottom: 1.25em;
}


