html, body {
  height: 100%;
}

body {
  font-family: "Fira Sans", sans-serif;
  /*font-family: sans-serif;*/
}

h3 {
  font-size: 1.25em;
  margin: 2em 0 1em 0;
}

#new-content-container {
  transition: left 0.25s;
  width: 100%;
  position: fixed;
  top: 25%;
}

.content-container-hidden {
  left: -500px;
}

.show {
  left: 0px;
}

#content-header {
  margin-top: 1em;
  margin-bottom: 1em;
}

.page-action {
  width: 20%;
  display: inline-block;
}

.page-entity {
  font-weight: 300;
  width: 80%;
}

.btn {
  min-width: 70px;
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 2px solid;
  transition: background 0.5s, color 0.5s;
}

.btn-green {
  border-color: #00cc89;
  color: #00cc89;
}

.btn-green:hover {
  color: #fff;
  background: #00cc89;
}

.btn-white {
  color: #fff;
  background: #00cc89;
}

.btn-white:hover {
  border-color: #00cc89;
  color: #00cc89;
}

.btn-blue {
  border-color: #3E97EB;
  color: #3E97EB;
}

.btn-blue:hover {
  color: #fff;
  background: #3E97EB;
}

/* layout */
.col-1 {
  width: 100%;
  top: 0;
  position: fixed;
  min-height: 100%;
}

.header-logo {
  height: 2em;
  margin: 0.35em 0 0em 1em;
}

.logo-header {
  width: 100%;
  color: #000;
  background: #00cc89;
  position: relative;
  transition: background 0.5s;
}

.logo-header-title,
.logo-header-sign-out {
  color: #fff;
  color: #000;
  text-transform: uppercase;
}

.logo-header-title {
  padding-left: 1em;
  top: 0;
  position: absolute;
  line-height: 2.75;
  letter-spacing: 1px;
  text-align: left;
  font-size: 1em;
  margin: auto;
  display: inline-block;
  font-weight: 400;
  max-width: 55em;
  min-width: 320px;
}

.logo-header-sign-out {
  font-size: 0.9em;
  font-weight: 200;
  min-width: 70px;
  text-decoration: none;
  /*float: right;*/
  position: absolute;
  top: 15%;
  right: 0;
  padding: 0.25em 1em;
}

/* new */
.col-2 {
  width: 100%;
  min-height: 100%;
  padding-bottom: 4em;
}

.wrap {
  padding: 0 1.5em 3.5em 1.5em;
  max-width: 55em;
  min-width: 320px;
  margin: auto;
}

#content {
  padding-top: 6.5em;
}

header {
  width: 100%;
}

.container {
  height: 100%;
  min-height: 100%;
  height: auto;  /*!important;*/
  position: relative;
}

footer {
  margin-top: 10em;
  background: #F8F8F8;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4em;
}

footer ul {
  width: 100%;
  margin: auto;
}

footer ul li {
  float: left;
  width: 25%;
  text-align: center;
  line-height: 4em;
}

/* navigation */
.logo {
  width: 100%;
  min-width: 75px;
  padding: 0.5em 0.40em;
}

#nav-core-1 {
  width: 100%;
  z-index: 2;
}

#nav-core-1 li {
  float: left;
}

.nav-core-1-item {
  color: #000;
  text-decoration: none;
  width: 25%;
  padding: 0 0 0 3%;
  line-height: 4;
  cursor: pointer;
}

.nav-core-1-item a {
  display: block;
  width: 100%;
  color: #000;
  text-decoration: none;
}

#nav-core-2 {
  /*width: 90%;*/
  width: 100%;
  float: right;
  clear: both;
  left: -1400px;
  /*top: -550px;*/
  position: absolute;
  transition: left 0.35s;
  z-index: 1;
}

.nav-core-2-list {
  width: 25%;
  float: left;
  line-height: 4;
}

.nav-core-2-item a {
  display: block;
  padding: 1em 0 1em 12%;
  line-height: 1;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: background ease-in 0.5s;
  border-width: 3px;
}

.nav-core-2-item a:hover {
  background: #00CC89;
}

.g1 {
  background: #D3FEF0;
}

.g2 {
  background: #9CFBDC;
}

.g3 {
  background: #6FF5C9;
}

.g4 {
  background: #48E7B3;
}

/*.g1:hover { background: #D2EAFF; }
.g2:hover { background: #99CDFF; }
.g3:hover { background: #69B4F9; }
.g4:hover { background: #3E97EB; }*/

.b1 { background: #D2EAFF; }
.b2 { background: #99CDFF; }
.b3 { background: #69B4F9; }
.b4 { background: #3E97EB; }

/*.b1:hover { background: #D2EAFF; }*/
/*.b2:hover { background: #99CDFF; }*/
/*.b3:hover { background: #69B4F9; }*/
/*.b4:hover { background: #3E97EB; }*/


