.heat-1 { background: #55ff55; cursor: pointer;}
.heat-2 { background: #78ff78; cursor: pointer;}
.heat-3 { background: #98ff98; cursor: pointer;}
.heat-4 { background: #caffca; cursor: pointer;}
.heat-5 { background: #efffef; cursor: pointer;}

.diary-day {
  padding: 1em 0;
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.diary-day:first-child {
  margin-top: 1em;
}

.diary-date {
  /*width: 100%;*/
  /*margin: 0 0 2em 0;*/
  text-align: right;
  float: right;
}

.diary-hour {
  width: 100%;
  min-height: 100px;
  display: block;
  border-top: 1px solid #cacaca;
}

.diary-time {
  top: -1.4em;
  position: relative;
  padding: 10px 10px 10px 0;
  display: inline-block;
  background: #fff;
}

.diary-item {
  font-size: 0.7em;
  min-height: 3em;
  display: inline-block;
  float: right;
  width: 70%;
  padding: 1% 2% 1% 4%;
  margin: 1px;
  background: #ff7896;
  border-radius: 0.5em;
}

.diary-edit-wrap {
  width: 42%;
  float: right;
  margin: 1%;
  box-shadow: 2px 2px 7px #afafaf;
  border-radius: 0.25em;
}

.diary-edit-title {
  font-weight: bold;
  width: 75%;
  display: inline-block;
  padding: 3% 5%;
  margin-bottom: 4%;
  float: left;
}

.diary-edit-exit {
  padding: 0.5% 4%;
  font-size: 1.75em;
  float: right;
  border-radius:  0 0.5em 0 0;
  cursor: pointer;
}

.diary-input-wrap {
  padding: 5%;
  display: block;
}

.diary-field-wrap {
  display: inline-block;
  border-bottom: 1px solid #000;
  margin: 1em 0;
  width: 100%;
}

.diary-label {
  width: 20%;
  display: inline-block;
  line-height: 1.5;
  font-size: 1.125em;
}

#title, #start, #finish {
  width: 75%;
}

.diary-text {
  font-size: 1.125em;
  border: none;
  outline: none;
}

.diary-textarea {
  font-size: 1.125em;
  width: 100%;
  border: none;
  outline: none;
}

.action-btn {
  line-height: 2;
  /*border-width: 1px;*/
  /*border-style: solid;*/
  border: none;
  font-weight: 500;
  font-size: 1.25em;
  background: #fff;
  margin-top: 1em;
}

.diary-edit-confirm {
  width: 50%;
  float: left;
  color: #000;
  /*color: #313131;*/
  border-color: #caffca;
  border-radius: 0 0 0 0.25em;
  background: #caffca;
}

.diary-edit-delete {
  background: #ffcaca;
  width: 50%;
  float: right;
  color: #000;
  /*color: #313131;*/
  border-color: #f00;
  border-radius: 0 0 0.25em 0;
}

/******************/
/*  Weekly View   */
/******************/

.diary-week-item {
  width: 100px;
  height: 3em;
  display: block;
  font-size: 0.7em;
  line-height: 1;
  overflow: hidden;
  position: relative;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #48E7B3;
  cursor: pointer;
}

.diary-week {
  /*border: 1px solid #000;*/
  width: 100%;
}

.diary-week th {
  font-weight: 300;
  line-height: 2;
}

.diary-week td {
  padding: 2%;
}

.diary-weekday-date {
  width: 14%;
  padding: 2%;
  cursor: pointer;
}

.diary-weekday-date .date-month-day {
  font-size: 2.25em;
  font-weight: bold;
  line-height: 0.9;
  width: 100%;
  display: block;
}

.diary-weekday-date .date-day,
.diary-weekday-date .date-month {
  font-size: 0.9em;
}

.diary-week-day {
  height: 8em;
}

.diary-weekday-date {
}

.diary-week-morning {
  background: #D3FEF0;
}

.diary-week-afternoon {
  background: #9CFBDC;
}

.diary-week-evening {
  background: #6FF5C9;
}

.diary-week-current-day td {
  background: #48E7B3;
}

/******************/
/*  Month View    */
/******************/

.diary-month {
  margin-left: 20%;
  width: 80%;
  border-collapse: collapse;
  background: #fff;
  transition: margin-left 0.5s;
}

.diary-month td {
  cursor: pointer;
  transition: background 0.5s;
}

.diary-month td:hover {
  background: #3E97EB;
}

.diary-month-tabs {
  float: left;
  margin-top: 1.5em;
  left: 0;
  transition: left 0.5s;
}

.diary-month-link {
  color: #787878;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 2;
  cursor: pointer;
  transition: color 0.25s;
  text-decoration: none;
}

.diary-month-link:hover {
  color: #48E7B3;
}

.diary-month-link.current {
  color: #48E7B3;
}

.diary-month-day {
  width: 14.285714286%;
  height: 20%;
  font-weight: 300;
}

.diary-month td {
  height: 6em;
  vertical-align: top;
  text-align: right;
  padding: 0.5em;
}

/******************/
/*  Year View     */
/******************/

.diary-year-month {
  margin: 0 5% 6% 0;
  padding: 1%;
  width: 28%;
  float: left;
  font-size: 0.9em;
  text-align: center;
  line-height: 2;
  border-collapse: separate;
  transition: box-shadow 0.5s, border-radius 0.5s;
}


.diary-year-month:hover {
  box-shadow: 2px 2px 7px #9898aa;
  border-radius: 5px;
}

.diary-year-month th {
  font-weight: 300;
  width: 14.285714286%;
}

th.diary-year-month-label {
  text-align: left;
  font-weight: bold;
}

.diary-year-month td a {
  color: #313131;
  text-decoration: none;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 17px;
  transition: background 0.5s;
}

.diary-year-month td a:hover {
  background: #3E97EB;
}
