.heat-10 { background: #0f0; cursor: pointer;}
.heat-9 { background:  #11ff11; cursor: pointer;}
.heat-8 { background:  #22ff22; cursor: pointer;}
.heat-7 { background:  #33ff33; cursor: pointer;}
.heat-6 { background:  #50ff50; cursor: pointer;}
.heat-5 { background:  #65ff65; cursor: pointer;}
.heat-4 { background:  #78ff78; cursor: pointer;}
.heat-3 { background:  #98ff98; cursor: pointer;}
.heat-2 { background:  #caffca; cursor: pointer;}
.heat-1 { background:  #efffef; cursor: pointer;}

.diary-day {
  padding: 1em 0;
  width: 100%;
}

.diary-day:first-child {
  margin-top: 1em;
}

.diary-date {
  text-align: right;
  float: right;
}

.diary-hour {
  width: 100%;
  min-height: 6em;
  max-height: 6em;
  display: block;
  border-top: 1px solid #cacaca;
}

.diary-time {
  top: -1.4em;
  bottom: 0;
  min-height: 6em;
  max-height: 6em;
  /*border: 1px solid #000;*/
  position: relative;
  padding: 10px 10px 10px 0;
  display: inline-block;
  background: #fff;
}

.diary-event {
  font-size: 0.85em;
  padding: 0;
  background: #48E7B3;
  padding: 0.25em;
  margin: 0.25em;
  box-shadow: 2px 2px 2px #cacaca;
  border-radius: 4px;
  /*width: 50px;*/
  /*display: inline-block;*/
}

.diary-event span {
  padding: 0;
  /*display: block;*/
}

.diary-item {
  font-size: 0.7em;
  min-height: 3em;
  display: inline-block;
  float: right;
  width: 70%;
  padding: 1% 2% 1% 4%;
  margin: 1px;
  background: #ff7896;
  border-radius: 0.5em;
}

.diary-edit-wrap {
  width: 50%;
  min-width: 320px;
  margin: 1%;
  box-shadow: 2px 2px 7px #afafaf;
  border-radius: 0.25em;
}

.diary-edit-title {
  font-weight: bold;
  width: 75%;
  display: inline-block;
  padding: 3% 5%;
  margin-bottom: 4%;
  float: left;
}

.diary-edit-exit {
  padding: 0.5% 4%;
  font-size: 1.75em;
  float: right;
  border-radius:  0 0.5em 0 0;
  cursor: pointer;
}

.diary-input-wrap {
  padding: 5%;
  display: block;
}

.diary-field-wrap {
  display: inline-block;
  border-bottom: 1px solid #000;
  margin: 1em 0;
  width: 100%;
}

.diary-label {
  width: 20%;
  display: inline-block;
  line-height: 1.5;
  font-size: 1.125em;
}

.diary-date-time-wrap {
  width: 75%;
  display: inline-block;
}

#start-time, #start-date,
#finish-time, #finish-date {
  width: 45%;
  display: inline-block;
  text-align: center;
}

#title {
  width: 75%;
}

.diary-text {
  font-size: 1.125em;
  border: none;
  outline: none;
}

.diary-textarea {
  font-size: 1.125em;
  width: 100%;
  border: none;
  outline: none;
}

.action-btn {
  line-height: 2;
  border: none;
  font-weight: 500;
  font-size: 1.25em;
  background: #fff;
  margin-top: 1em;
}

.diary-edit-confirm {
  width: 50%;
  color: #000;
  border-color: #caffca;
  border-radius: 0 0 0 0.25em;
  background: #caffca;
}

.diary-edit-delete {
  background: #ffcaca;
  width: 50%;
  float: right;
  color: #000;
  border-color: #f00;
  border-radius: 0 0 0.25em 0;
}

/*****************
**** Controls ****
*****************/

.diary-controls {
  width: 100%;
  padding: 2em 0 4em 0;
}

.diary-controls li {
  float: left;
  width: 33%;
}

.diary-controls li a {
  width: 100%;
  display: block;
  padding: 1em 2em;
}

.diary-add {
  text-align: center;
}

.diary-tomorrow {
  text-align: right;
}

.diary-yesterday {
  text-align: left;
}

/******************/
/*  Weekly View   */
/******************/
/*
.diary-week-item {
  width: 100px;
  height: 3em;
  display: block;
  font-size: 0.7em;
  line-height: 1;
  overflow: hidden;
  position: relative;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #48E7B3;
  cursor: pointer;
}
*/

.diary-week {
  /*border: 1px solid #000;*/
  width: 100%;
}

.diary-week .diary-day-week {
  width: 14%;
  float: left;
}

.diary-day-week-time {
  float: left;
}

.diary-weekday-date {
  width: 14%;
  padding: 2%;
  cursor: pointer;
}

.diary-weekday-date .date-month-day {
  font-size: 2.25em;
  font-weight: bold;
  line-height: 0.9;
  width: 100%;
  display: block;
}

.diary-weekday-date .date-day,
.diary-weekday-date .date-month {
  font-size: 0.9em;
}

.diary-week-day {
  height: 8em;
}

.diary-weekday-date {
}

.diary-week-morning {
  background: #D3FEF0;
}

.diary-week-afternoon {
  background: #9CFBDC;
}

.diary-week-evening {
  background: #6FF5C9;
}

.diary-week-current-day td {
  background: #48E7B3;
}

/******************/
/*  Month View    */
/******************/

/* .diary-month {
  margin-left: 20%;
  width: 80%;
  border-collapse: collapse;
  background: #fff;
  transition: margin-left 0.5s;
} */

.diary-month-title {
  width: 100%;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.diary-month {
  margin-left: 20%;
  width: 80%;
  background: #fff;
  transition: margin-left 0.5s;
  display: table;
  table-layout: fixed;
}

.diary-month-cal-header-row {
  max-height 1em;
  display: table-row;

}

.diary-month-cal-row {
  max-height 3em;
  display: table-row;
}

.diary-month-cal-head-cell {
  width: 14.285714286%;
  display: table-cell;
  height: 2em;
  text-align: center;
  border-bottom: 1px solid #efefef;
}

.diary-month-cal-cell-link {
  width: 100%;
  height: 6em;
  max-height: 6em;
  min-height: 6em;
  min-width: 6em;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.25s;
  padding: 0.5em;
  color: #000;
}

.diary-month-cal-cell {
  font-size: 0.9em;
  border: 1px solid #efefef;
  display: table-cell;
  width: 14.285714286%;
  height: 6em;
  /*vertical-align: top;*/
  text-align: right;
}

.diary-month-cal-cell-link:hover {
  background: #3E97EB;
}

.diary-month td {
  cursor: pointer;
  transition: background 0.5s;
}

.diary-month-tabs {
  float: left;
  margin-top: 1.5em;
  left: 0;
  transition: left 0.5s;
}

.diary-month-link {
  color: #787878;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 2;
  cursor: pointer;
  transition: color 0.25s;
  text-decoration: none;
}

.diary-month-link:hover {
  color: #48E7B3;
}

.diary-month-link.current {
  color: #48E7B3;
}

.diary-month-day {
  width: 14.285714286%;
  height: 20%;
  font-weight: 300;
}

.diary-month td {
  height: 6em;
  vertical-align: top;
  text-align: right;
  padding: 0.5em;
}

span.diary-count {
  color: #000;
  box-shadow: 1px 1px 4px #555;
  position: absolute;
  width: 2em;
  height: 2em;
  padding: 0.25em;
  margin-top: 3em;
  margin-left: -5.5em;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  z-index: 0;
}

/******************/
/*  Year View     */
/******************/

.diary-year-month {
  width: 28%;
  padding: 1%;
  float: left;
  font-size: 0.9em;
  text-align: center;
  line-height: 2;
  border-collapse: separate;
  transition: box-shadow 0.5s, border-radius 0.5s;
  margin: 0 5% 6% 0;
  min-height: 20em;
}

.diary-year-month-wrap {
  float: left;
}

.diary-year-month:hover {
  box-shadow: 2px 2px 7px #9898aa;
  border-radius: 5px;
}

.diary-year-month th {
  font-weight: 300;
  width: 14.285714286%;
}

th.diary-year-month-label {
  text-align: left;
  font-weight: bold;
}

.diary-year-month td a {
  /*padding: 2px;*/
  color: #313131;
  text-decoration: none;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 17px;
  transition: background 0.5s;
}

.diary-year-month td a:hover {
  background: #3E97EB;
}
