.module {
  margin-bottom: 4em;
}

.module-lecturers {
  margin: 1em 0 1.5em 0;
}

.module-lecturers a {
  color: #0C93F1;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal
}

.module-description h4 {
  line-height: 2;
}

.module-description p {
  line-height: 1.5em;
}