.notice-filter {
  width: 20%;
  float: left;
  margin-top: 2em;
  padding-right: 4%;
}

.notice-input-wrap {
  display: inline-block;
  position: relative;
}

#notice-search:focus {
  border-color: #48E7B3;
}

#notice-search {
  width: 90%;
  line-height: 2;
  padding-left: 25px;
  padding-bottom: 3px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #787878;
  transition: border-color 0.25s, width 0.5s;
  outline: none;
}

.notice-search-label {
  position: absolute;
  top: 3px;
}

.notice-filter-tags {
  margin-top: 2em;
}

.notice-filter-tag {
  color: #787878;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 2;
  cursor: pointer;
  transition: color 0.25s;
}

.notice-filter-tag:hover {
  color: #48E7B3;
}

.notice-block {
  width: 80%;
  margin-left: 20%;
  margin-top: 2em;
}

.notice-date {
  display: inline-block;
  width: 100%;
  font-style: italic;
  color: #787878;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.notice-cat {
  color: #787878;
  display: block;
  margin: 0 0 1em 0;
}