.notice-block {
  /*width: 80%;*/
  margin: 2em 0 4.5em 0;
  padding-bottom: 3.5em;
  border-bottom: 1px dotted #00cc89;
  position: relative;
}

.notice-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

.notice-date {
  display: inline-block;
  width: 100%;
  font-style: italic;
  color: #787878;
  margin-bottom: 1em;
  font-size: 0.9em;
}