.notice-block {
  margin: 2em 0 5em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px dotted #00cc89;
  position: relative;
}

.notice {
  text-indent: 1em;
  margin: 1em 0 3em 0;
}

.notice-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

.notice-details {
  display: inline-block;
  width: 100%;
  font-style: italic;
  color: #787878;
  margin-bottom: 1em;
  font-size: 0.9em;
}