.header-logo {
  width: 2em;
  margin: 2em auto 0 auto;
}

.logo-header-title {
  position: absolute;
  margin-left: 3em;
  top: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
}

.wrap {
  width: 100%;
}

#content-header {
  margin: 0;
}

.page-action {
  width: 20%;
  min-width: 100px;
  display: inline-block;
}

.page-entity {
  font-weight: 300;
  width: 80%;
}

#nav-sub-1,
.logo-header-sign-out,
.btn,
#nav-core-1,
#nav-core-2 {
  display: none;
}

.timetable {
  width: 100%;
  border-collapse: collapse;
}

.timetable td, .timetable th {
  border: 1px solid #cacaca;
  padding: 4px;
}

.tt-session {
  /*padding: 10px;*/
}

.tt-time-row {
  height: 4em;
}

.tt-time-column {
  width: 10%;
  text-align: center;
}

.tt-day-column {
  width: 18%;
}

