.signin-header {
  width: 100%;
  min-width: 70%;
  margin: 0 auto;
  display: block;
  /*background: #8EFFDC;*/
  overflow: hidden;
  padding: 2em 0 0 0;
}

.title-wrap {
  width: 60%;
  min-width: 320px;
  margin: 0 auto;
}

.signin-header h1 {
  text-align: left;
  line-height: 1;
  padding: 1.5em 1em 1.5em 0;
  float: left;
  color: #62AC93;
}

.signin-logo {
  float: left;
  height: 6em;
  margin: 1em 2.5em 1em 1em;
}

#signin-form {
  width: 320px;
  display: block;
  margin: 2em auto 0 auto;
  padding: 2em 1.5em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 4px #cacaca,
              2px 2px 4px #cacaca,
              3px 3px 4px #cacaca,
              4px 4px 4px #cacaca,
              5px 5px 4px #cacaca;
}

.signin-label,
.signin-text,
.signin-btn {
  width: 100%;
  display: block;
}

.signin-label {
  line-height: 2;
  margin: 1.25em 0 0.15em 0;
  padding: 0 0 0 0.5em;
}

.signin-text {
  line-height: 2;
  padding: 0.75em;
  border-radius: 0.5em;
  border: 3px solid #8BD9EF;
  box-shadow: 1px 1px #8BD9EF,
              2px 2px #8BD9EF,
              3px 3px #8BD9EF,
              4px 4px #8BD9EF;
}

.signin-btn {
  font-size: 1.25em;
  padding: 1em;
  margin: 2em 0 0 0;
  border-radius: 0.5em;
  border: none;
  background: #8EFFDC;
  color: #62AC93;
  text-transform: uppercase;
  box-shadow: 1px 1px #62AC93,
              2px 2px #62AC93,
              3px 3px #62AC93,
              4px 4px #62AC93,
              5px 5px #62AC93,
              6px 6px #62AC93,
              7px 7px #62AC93,
              8px 8px #62AC93;
}

.signin-btn:active {
  box-shadow: none;
}

