/*
  Background Image Method: https://css-tricks.com/perfect-full-page-background-image/
*/

html {
}

#background {
  min-height: 120%;
  position: fixed;
  width: 120%;
  top: -10%;
  left: -10%;
  z-index: -1;
  -webkit-filter: blur(40px) grayscale(30%);
  -moz-filter: blur(40px) grayscale(30%);
  -o-filter: blur(40px) grayscale(30%);
  -ms-filter: blur(40px) grayscale(30%);
  filter: blur(40px) grayscale(30%);
}

.signin-header {
  width: 100%;
  min-width: 70%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  padding: 2em 0 0 0;
}

.title-wrap {
  width: 60%;
  min-width: 320px;
  margin: 0 auto;
}

.signin-header h1 {
  text-align: center;
  line-height: 1;
  padding: 1.5em 0em 1.5em 0;
  /*float: left;*/
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  /*letter-spacing: 2px;*/
}

.signin-logo {
  float: left;
  height: 6em;
  margin: 1em 2.5em 1em 1em;
}

#signin-form {
  min-width: 320px;
  max-width: 460px;
  display: block;
  margin: 2em auto 0 auto;
  padding: 2em 1.5em;
}

.signin-label,
.signin-text,
.signin-btn {
  width: 100%;
  display: block;
}

.signin-label {
  color: #fff;
  line-height: 2;
  margin: 1.50em 0 0.30em 0;
  padding: 0 0 0 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 200;
}

.signin-text {
  outline: none;
  font-size: 1.25em;
  line-height: 1;
  padding: 0.50em;
  border: 3px solid #fff;
  background: none;
  color: #fff;
  transition: background 0.25s, color 0.25s;
}

.signin-text:focus, .signin-btn:focus,
.signin-text:hover, .signin-btn:hover {
  background: #fff;
  color: #000;
}

.signin-btn {
  transition: background 0.25s, color 0.25s;
  outline: none;
  font-size: 1.25em;
  padding: 1em;
  margin: 3em 0 0 0;
  border: 5px solid #fff;
  background: none;
  color: #fff;
  text-transform: uppercase;
}

.signin-btn:active {
  box-shadow: none;
}

