th.lecturer-modules,
th.student-qualifications,
th.student-modules {
  padding: 1.5em 1em 0 1em;
  border-bottom: 1px solid #cacaca;
}

td.table-cell-link {
  padding: 0;
  margin: 0;
}

.table-cell-link a {
  padding: 0.5em 1em;
  display: block;
  width: 100%;
  color: #0C93F1;
  text-decoration: none;
  transition: background 0.5s;
}

.table-cell-link a:hover {
  background: #CDEAFF;
}

.table-1 { width: 20%;  }
.table-2 { width: 40%;  }
.table-3 { width: 60%;  }
.table-4 { width: 80%;  }
.table-5 { width: 100%; }

table {

  table-layout: fixed;
  width: 100%;
  min-width: 320px;
  box-shadow: 1px 1px 4px #555;
  margin: 0 0 4em 0;
}

table th {
  text-align: left;
  font-weight: 500;
  padding-left: 0.5em;
}

table td,
table th {
  padding: 0.5em 1em;
  line-height: 1.5;
  border-bottom: 1px dotted #cacaca;
}

td.table-cell-link {
  padding: 0;
  margin: 0;
}

