

@media ( max-width: 600px) {
  .col-1 {
    display: none;
  }

  .col-2 {
    width: 100%;
    margin-left: 0;
  }

  #nav-core-2 {
    width: 100%;
  }

  /* Notifications */
  .notice-filter {
    width: 100%;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .notice-input-wrap {
    width: 100%;
  }

  #notice-search {
    width: 100%;
  }

  .notice-filter-tags {
    margin-top: 0;
  }

  .notice-filter-tag {
    float: left;
    padding: 0.5% 3% 0 0;
    display: inline-block;
  }

  .notice-cat {
    width: 100%;
    margin: 0;
    display: none;
  }

  .notice-block {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}